<configuration>    
    <appender name="ANALYTICS-FILE" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/analytics.log</file>
                <append>true</append>
<encoder>
            <pattern>%date %-5level [%thread] - [%logger] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="analytics" level="DEBUG" additivity="false">
        <appender-ref ref="ANALYTICS-FILE"/>
    </logger>

</configuration>